/*
    So you like the style of impress.js demo?
    Or maybe you are just curious how it was done?

    You couldn't find a better place to find out!

    Welcome to the stylesheet impress.js demo presentation.

    Please remember that it is not meant to be a part of impress.js and is
    not required by impress.js.
    I expect that anyone creating a presentation for impress.js would create
    their own set of styles.

    But feel free to read through it and learn how to get the most of what
    impress.js provides.

    And let me be your guide.

    Shall we begin?
*/


/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #f2f2f2;
    color: #31007f;
}
button {
    font-family: 'Muli', sans-serif;
}
p {
    font-size: 0.8em;
    background: #f2f2f2;
    padding: 15px;
    font-weight:bold;
    line-height:1.15em;
}
h2 {
    font-size: 0.9em;
    background: #f2f2f2;
    padding: 15px;
    color: #ff4031;
    font-weight:bolder;
    max-width: 55%;
    text-align: center;
    margin: 0 auto;
    line-height:1.15em;
    margin-bottom: 30px;
}
h2.blue {
    color: #31007f;
}
h2.green {
    color: #70c600;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'Muli', sans-serif;
    min-height: 740px;
    font-size: 0.8em;

    /*background-size:600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.01)),url(img/city.svg);*/
    /*background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));*/
}
/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/
.img-w-title {
    display: inline-block;
    max-width: 48%;
    vertical-align:top;
}
.img-w-title img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}
.fallback-message {
    font-family: 'Muli', sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    padding: 80px 40px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Muli', sans-serif;
    font-size: 48px;
    line-height: 1.5;
}

.imb {
    opacity:0.7 !important;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

p {
  font-size: 0.6em;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

button.home {
    width:45px !important;
    height:45px!important;
    /*background-color: #31007f;
    background-image: url(img/home.png) no-repeat;*/
    background: #31007f url(img/home.png) no-repeat;
    background-size: 30px;
    background-position-x:5px;
    background-position-y:5px;
    border-radius:50%;
    padding:13px;
}
img.home {
    width:30px;
}

button.green {
    background-image: url(img/btn-green.png);
    color: white;
    width: 300px;
    height: 126px;
    font-size: 0.7em;
    font-weight: bolder;
}

button.blue {
    background-image: url(img/btn-blue.png);
    color: #4bdd67;
    width: 305px;
    height: 123px;
    font-size: 0.6em;
    font-weight: bold;
}
button.red {
    background:#ff4031;
    color: #fff;
    width: 305px;
    height: 70px;
    font-size: 0.7em;
    font-weight: bolder;
}
button.arrow-red {
    background: url(img/arrow-red.png);
    color: #fff;
    font-size: 0.5em;
    text-align: left;
    padding-left:45px;
    font-weight: bolder;
    border-style:none;
    background-size:330px;
    width:330px;
    height:165px;
}
button.arrow-yellow {
    background: url(img/arrow-yellow.png);
    color: #31007f;
    height: 123px;
    font-size: 0.5em;
    text-align: left;
    padding-left:45px;
    font-weight: bolder;
    border-style:none;
    background-size:330px;
    width:330px;
    height:165px;
}
button.arrow-green {
    background: url(img/arrow-green.png);
    color: #31007f;
    height: 123px;
    font-size: 0.5em;
    text-align: left;
    padding-left:45px;
    font-weight: bolder;
    border-style:none;
    background-size:330px;
    width:330px;
    height:165px;
}
.button-center {
    text-align:center;
}
.button-right {
    text-align:right;
}




/* p1 */
#hola_ img {
  max-width: 80%;
}
#hola_ button {
  font-size: 0.6em;
}

/*p2*/
#aprenderProceso_ button {
  font-size: 0.5em;
  padding:15px;
  width:30%;
  height: 4em;
  vertical-align:top;
  font-weight:bold;
}

#aprenderProceso_ .button-center {
  width: 100%;
  margin-bottom:2%;
}

/*p3*/
.img-w-title {
    width:45%;
}
.img-w-title img {
  width: 20%;
}

/*p4*/
#hazSolicitud_ p {
    max-width:45%;
    float:left;
}
#i04-01 {
    width: 45%
}
#i04-02 {
    width: 25%;
}
#hazSolicitud_ #yeey {
    width: 25%;
    background-size:100%;
    background-repeat: no-repeat;
}
#hazSolicitud_ .red {
    margin-top: 25px;
    width: 150px;
    height: 50px;
}

/*p5*/
#yeey_ .col-left {
    width: 50%;
    float:left;   
}
#yeey_ .col-right {
    width: 45%;
    float:left;
}
/*p6*/
#empecemos_ img {
    width:49%;
    display: inline-block;
}
#empecemos_ p {
    width:45%;
    display: inline-block;
}
#empecemos_ .arrow-yellow {
    padding-left:20px;
}

/*p7*/
#sujetosObligados_ img {
    width:85%;
    display:block;
    margin: 0 auto;
}
#sujetosObligados_ p {
    width:50%;
}

/*p8*/
#tomaEnCuentaInfo_ img {
    width:30%;
    display: inline-block;
    vertical-align: top;
}
#tomaEnCuentaInfo_ h2 {
    width:60%;
    display: inline-block;
}
#tomaEnCuentaInfo_ .button-center p, #i08-02 {
    width: 30%;
    float: left;
}
#tomaEnCuentaInfo_ .button-center p span.strong {
    font-weight: bold;
}
#tomaEnCuentaInfo_ button {
    padding-left:25px;
}

/*p9*/

/*p10*/
#pasosSolicitud_ ol {
    font-size: 0.6em;
    background: #f2f2f2;
    list-style-type:decimal;
    width: 75%;
    font-weight:bold;
    line-height:1.15em;
}
#pasosSolicitud_ .col-left {
    width: 45%;
    float:left;
    
}
#pasosSolicitud_ .col-right {
    width: 50%;
    float:left;
}
#pasosSolicitud_ img {
    width: 75%;
}

/*p11*/
#laRespuesta_ h2 {
    margin-bottom:4em;
}
#laRespuesta_ p, #esperar_ img {
    width: 45%;
    float: left;
}
#laRespuesta_ button {
  font-size: 0.5em;
  width:30%;
  height: 4em;
  vertical-align:top;
}

#laRespuesta_ .button-center {
  width: 100%;
  margin-bottom:2%;
}

/*p12*/

/*p13*/
#loQueDieron_ .col-left {
    width: 45%;
    float:left;
    
}
#loQueDieron_ .col-right {
    width: 45%;
    float:left;
}
#i13-01, #i13-02 {
    width:25%;
    display:block;
    margin:0 auto;
}
#loQueDieron_ button {
  font-size: 0.6em;
  width:33%;
  height: 2em;
  margin: 2em auto;
  vertical-align:top;
  display: block;
}
#loQueDieron_ img {
    display:block;
    margin:0 auto;
}
/*p14*/
#infoBien_ p {
    display:block;
    float:left;
    width:45%;
    margin-top:120px;
}
#infoBien_ img {
    display:block;
    float:left;
    width:45%;
}
/*p15*/
#infoMal_ img {
    width: 75%;
    display:block;
    margin:0 auto;
    margin-bottom:35px;
}
#infoMal_ p {
    width: 35%;
    float:left;
}
#infoMal_ button.arrow-green {
    padding-left:20px;
}
#infoMal_ button.blue {
    float:left;
}
/*p16*/
#sinRespuesta_ .col-left {
    width: 35%;
    float:left;
}
#sinRespuesta_ .col-left img {
    margin-top:200px;
    display:block;
}
#sinRespuesta_ .col-right {
    width: 65%;
    float:left;
}
#sinRespuesta_ .col-right .col-left, #sinRespuesta_ .col-right .col-right {
    width: 45%;
    float:left;
}
#sinRespuesta_ .small {
    font-size:0.7em;
}
/*p17*/
#nieganInformacion_ .greenNum {
    color: #4bdd67;
    font-size:1em;
}
#nieganInformacion_ p {
    display: inline-block;
    max-width:45%;
    vertical-align:top;
}
#nieganInformacion_ button.green{
    color:blue;
    font-size:0.5em;
    color: #31007f;
    height:4em;
    vertical-align:top;
}
/*p18*/
#noExiste_ p {
    width:45%;
    float:left;
}
/*p19*/
#prorroga_ p {
    width: 45%;
    line-height:1.15em;
}
#prorroga_ img {
    width: 70%;
}
#prorroga_ .p1 {
    float:left;
}
#prorroga_ .p2 {
    float:right;
    margin-top:-150px;
}
#prorroga_ button {
    float:right;
}

/*p20*/
#tiposRespuestas_ button {
    vertical-align: top;
    font-size: 0.5em;
    padding:15px;
    width:30%;
    height: 4em;
    vertical-align:top;
    font-weight:bold;
}
#tiposRespuestas_ .button-center {
    margin-top:25px;
}

/*p21*/
#recursoRevision_ .col-left {
    width: 45%;
    float:left;
    font-size: 0.8em;
    margin-top:100px;
}
#recursoRevision_ .col-right img {
    width:100%;
}
#recursoRevision_ .col-right {
    width: 55%;
    float:left;
}
#recursoRevision_ button {
    float:none;
}

/*p22*/
#queLlevaRR_ .col-left {
    width: 35%;
    float:left;
    font-size: 0.8em;
}
#queLlevaRR_ .col-center {
    width:20%;
    float:left;
    vertical-align:bottom;
}
#queLlevaRR_ .col-center img {
    width:100%;
}
#queLlevaRR_ .col-right {
    width: 35%;
    float:left;
    font-size: 0.8em;
}
#queLlevaRR_ button.arrow-green {
    padding-left:20px;
    font-size:0.6em;
}
#queLlevaRR_ button.red {
    font-size: 0.5em;
    width: 120px;
}
/*p23*/
#todoEnOrden_ .col-left {
    width: 45%;
    float:left;
    font-size: 0.8em;
}
#todoEnOrden_ .col-right {
    width: 55%;
    float:left;
    font-size: 0.8em;
}
#todoEnOrden_ .col-right img {
    width:100%;
}
#todoEnOrden_ button {
    font-size:0.6em;
}

/*p24*/
#tiempoAgoto_ .button-center {
    font-size: 0.8em;
}

/*p25*/
#noAceptanDarInfo_ h2 {
    margin-bottom:100px;
}
#noAceptanDarInfo_ .col-left {
    width: 47%;
    float:left;
    font-size: 0.8em;
}
#noAceptanDarInfo_ .col-right {
    width: 43%;
    float:left;
    font-size: 0.8em;
}
#noAceptanDarInfo_ button {
    width: 200px;
    height: 110px;
    margin: 0 auto;
    display:block;
}

/*p26*/

/*p27*/
#amparo_ .col-left {
    width: 55%;
    float:left;
    font-size: 0.8em;
}
#amparo_ .col-left p.small {
    font-size: 0.5em;
}
#amparo_ .col-right {
    width: 40%;
    float:left;
    font-size: 0.8em;
}
#amparo_ button.goto {
    margin-left:50px;
    padding-left:25px;
}

/*p28*/
#tomaEnCuenta_ .col-left {
    width: 55%;
    float:left;
    font-size: 0.8em;
}
#tomaEnCuenta_ .col-right {
    width: 40%;
    float:left;
    font-size: 0.8em;
}
#tomaEnCuenta_ .col-right img {
    width:60%;
}
#tomaEnCuenta_ .col-left img {
    width:40%;
    display: block;
    margin: 0 auto;
}
#agotaronOtros10_ img {
    width:90%;
    display: block;
    margin:0 auto;
}

/*p30*/
#cualEs_ .col-left {
    width: 45%;
    float:left;
    
}
#cualEs_ .col-right {
    width: 45%;
    float:left;
}
#cualEs_ #i30-01, #cualEs_ #i30-02 {
    width:25%;
    display:block;
    margin:0 auto;
}
#cualEs_ button {
  font-size: 0.6em;
  width:33%;
  height: 2em;
  margin: 2em auto;
  vertical-align:top;
  display: block;
}
#cualEs_ img {
    display:block;
    margin:0 auto;
}
#cualEs_ p{
    font-size:0.5em;
}

/*p31*/
#esConfidencial_ .col-left {
    width: 45%;
    float:left;    
}
#esConfidencial_ .col-left p {
    margin-top:30%;
}
#esConfidencial_ .col-right {
    width: 45%;
    float:left;
}
#esConfidencial_ .col-right img {
    width: 100%;
}
button.home {
    height:45px !important;
    display:inline !important; 
    margin:0 !important;
}
